@(message: String)

@main("Todo.ts") {

@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("view/index").url)

<br/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">TODO.ts</h1>
        </div>
        <div class="panel-body">
            <form>
                <input class="form-control input-lg" type="text" placeholder="What needs to be done?">
            </form>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <input type="checkbox"> Cras justo odio
                <button type="button" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>

}